<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/enviar" method="post">
        <input type="text" name="nombre" id="" required>
        <input type="email" name="gmail" id="" required>
    </form>
    {% if info %}
            <ul>
                <li>
                    {{info['nombre']}}
                </li>
                <li>
                    {{ info['gmail'] }}
                </li>
            </ul>
        {% endif %}
</body>
</html>